// Place all the styles related to the api/likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .like-heart-container {
//   position: absolute;
//   width: 614px;
//   height: 614px;
//   top: 50%;
//   left: 50%;
//   opacity: 0;
//   display: flex;
//   transform: translate(-50%, -50%);
//   -ms-transform: translate(-50%, -50%);
//   justify-content: center;
//   align-items: center;
//   z-index: 1;
// }
//
// offsets = translateX(-50%) translateY(-50%)
//
// .likes-heart
//   opacity 0
//   transition all 0.5s // time to fade out after its done
//   transform offsets scale(5) // this is the "end state"
//   display block
//   &:like-enter
//     transition: all .2s
//     transform offsets scale(1)
//     opacity 1
//     &.like-enter-active
//       transform offsets scale(5)
//   .like-leave-active
//     display none

@import "variables";

.like-heart-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 2s;
  position: absolute;
  z-index: 1;
}

.like-heart {
  width: 400px;
  height: 400px;
}

.appear {
  -webkit-animation-name: opacityOnAndOff;
  -webkit-animation-duration: 2s;
  // animation-iteration-count: 1;
}

@keyframes opacityOnAndOff {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.like-heart:after {
  opacity: 0;
  -webkit-transition: 1s;
}

.like-enter {
  opacity: 0.1;
}

.like-enter-active {
  opacity: 1;
  transition: .5s ease;
}

.like-leave-active {
  opacity: 0;
}

// Likers
.dark-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 4;
}

.likers-container {
  position: fixed;
  width: 400px;
  height: 500px;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  overflow: scroll;
  z-index: 5;
}

.likes-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid $light-grey;
}

.likers-list {
  box-sizing: border-box;
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 10px 20px 20px 20px;
}

.likers-link {
  display: flex;
  text-decoration: none;
}

.liker-item {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.liker-username{
  font-size: 14px;
  color: black;
  margin-bottom: 4px;
}

.liker-name {
  font-size: 14px;
  color: $grey;
}

.tiny-profile-pic {
  width: 28px;
  height: 28px;
  background-color: white;
  border-radius: 14px;
  border: 1px solid $light-grey;
  margin-right: 10px;
}

.close-icon {
  width: 20px;
  height: 20px;
  padding-right: 15px;
}
