// Place all the styles related to the api/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

.posts {
  &__navbar {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    border-top: 1px solid $light-grey;
    border-bottom: 1px solid $light-grey;
    font-weight: bold;
    font-size: 16px;

    ul {
      display: flex;
    }

    ul > li {
      margin: 0px 80px 0px 80px;
      display: flex;
      align-items: center;
      height: 50px;
    }

    &__icon {
      width: 25px;
      height: 25px;
      margin-right: 5px;
    }

    &__links {
      text-decoration: none;
      color: $grey;
      font-family: 'Questrial', sans-serif;
      font-size: 14px;

      &:focus {
        text-decoration: underline;
      }
    }
  }
}

.post {

  &__index-container {
    display: flex;
    width: 614px;
    background-color: white;
    justify-content: cen ter;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-direction: column;
    border: 1px solid $light-grey;
  }

  &__header {
    display: flex;
    padding: 16px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
  }

  &__author {
    display: flex;
    align-items: center;
  }

  &__header-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 16px;
    * {
      margin-bottom: 3px;
    }
  }

  &__photo-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__full-photo {
    width: 100%;
    height: 100%;
    background-color: #fafafa;
  }

  &__icons {
    margin-top: 6px;
    margin-bottom: 6px;
    display: flex;
    justify-content: space-between;
  }

  &__icon {
    cursor: pointer;
  }

  &__body {
    padding-left: 6px;
    margin-bottom: 6px;

    &-container {
        display: flex;
        h3 {
          margin-bottom: 6px;
        }
    }
  }

  &__commments {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  &__time {
    margin-top: 6px;
    margin-bottom: 6px;
  }

  &__footer {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.add-commment {
  background-color: white;
  font-size: 14px;
  border: none;
  padding: 16px 0px 16px 0px;
}

.total-likes {
  margin-top: 6px;
  margin-bottom: 6px;
  cursor: pointer;
}

// Post Form

.post-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  width: 350px;

  &__title {
    font-size: 40px;
    font-family: 'billabongregular';
    margin: 10px;
    text-align: center;
  }

  &__file {
    background-color: white;
  }

  &__img-preview {
    width: 100%;
  }

  &__preview-text {
    padding: 10px;
    font-weight: 400;
  }

  &__body {
    height: 100px;
  }

  &__location {
    background-color: white;
  }
}

// Photo grid-item

.photo-grid-container {
  display: flex;
  justify-content: center;
}

.photo-grid {
  width: 935px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.grid-item {
  width: 293px;
  height: 293px;
  margin-bottom: 28px;
  position: relative;
  cursor: pointer;
}

.photo-grid-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .5s ease;
  backface-visibility: hidden;
  position: absolute;

  &:hover {
    opacity: 0.5;
  }
}

.post-photo-container {
  display: flex;
  justify-content: space-around;
  margin: auto;
  position: relative;
  cursor: pointer;
}

.photo-layer {
  position: absolute;
  width: 293px;
  height: 293px;
  top: 50%;
  left: 50%;
  transition: .5s ease;
  background-color: black;
  opacity: 0;
  display: flex;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  z-index: 1;
  color: white;


  &:hover {
    opacity: .7;
  }
}

.empty-grid-item {
  width: 293px;
  height: 293px;
}

.layer-icon {
  width: 30px;
  height: 30px;
}

.counts {
  margin: 10px;
  display: flex;
  align-items: center;
}

// Photo Detail

.post-detail {
  &__container {
    margin-top: 60px;
    display: flex;
    justify-content: center;
  }

  &__photo-container {
    width: 600px;
    display: flex;
    position: relative;
    cursor: pointer;
  }

  &__photo {
    width: 100%;
    height: 100%;
  }

  &__info {
    display: flex;
    flex-direction: column;
    width: 335px;
    background-color: white;
  }

  &__icons {
    margin-top: 6px;
    margin-bottom: 6px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $light-grey;
  }

  &__header {
    width: 100%;
    height: 78px;
    padding: 24px 16px 24px 16px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $light-grey;
  }

  &__comments{
    width: 100%;
    height: 100%;
    padding: 0px 24px 0px 24px;
    box-sizing: border-box;
    display: flex;
    overflow: scroll;
    flex-direction: column;
    justify-content: space-between;
  }

  &__bottom, .bottom-block-container {
    input {
      border-top: 1px solid $light-grey;
      width: 95%;
    }
  }
}

//More Options window
.options-window-container {
  width: 250px;
  height: 180px;
  border-radius: 12px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -90px;
  margin-left: -125px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  z-index: 5;

  h2 {
    font-size: 16px;
    height: 60px;
    text-align: center;
  }

  button {
    width: 100%;
    background-color: white;
    height: 50px;
    border-top: 1px solid $light-grey;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    font-size: 16px;
    padding: 2px;
  }
}

#bold {
  font-weight: 400;
}

#light-grey {
  color: $grey;
}

#selected-item {
  border-top: 1px solid black;
}

#selected-link {
  color: black;
  font-weight: 600;
}

#not-selected {
  color: $mid-grey;
}
