// Place all the styles related to the api/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

.posts-navbar {
  width: 100%;
  height: 50px;
  display: block;
  border-top: 1px solid $light-grey;
  border-bottom: 1px solid $light-grey;
  font-weight: bold;
  font-size: 16px;

  ul {
    display: flex;
    justify-content: space-around;

  }

  ul > li {
    margin-top: 15px;
  }
}

.posts-navbar-links {
  text-decoration: none;
  color: $grey;
}

.post-index-container {
  display: flex;
  width: 614px;
  background-color: white;
  justify-content: center;
  margin: auto;
  flex-direction: column;
  margin-bottom: 60px;
  border: 1px solid $light-grey;
}

.post-header {
  display: flex;
  padding: 16px;
  align-items: center;
}

.post-header-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 16px;
  * {
    margin-bottom: 3px;
  }
}

.post-photo-container {

}

.post-full-photo {
  width: 100%;
  height: 614px;
  background-color: #fafafa;
}

.bottom-block-container{
  padding-left: 16px;
  padding-right: 16px;
}

.post-icons {
  margin-top: 6px;
  margin-bottom: 6px;
  display: flex;
  justify-content: space-between;
}

.post-comments {
  border-bottom: 1px solid $light-grey;
  padding-top: 6px;
  padding-bottom: 6px;
}

.post-body-container {
  display: flex;
}

.post-body {
  padding-left: 6px;
  margin-bottom: 6px;
}

.post-time {
  margin-top: 6px;
  margin-bottom: 6px;
}

.icon {
  cursor: pointer;
}

.add-commment {
  background-color: white;
  font-size: 14px;
  border: none;
  padding: 16px 26px 16px 0px;
}

.total-likes {
  margin-top: 6px;
  margin-bottom: 6px;
}

#bold {
  font-weight: 400;
}

#light-grey {
  color: $grey;
}
