// Place all the styles related to the api/session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 @import "variables";

.form-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-form-box {
  width: 250px;
  padding: 20px;
  border: 1px solid $light-grey;
  text-align: center;
  background-color: white;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 15px;
}

.form-title {
  font-size: 55px;
  font-family: 'billabongregular';
  color: black;
  margin: 10px;
}

.subtext {
  color: $grey;
  font-weight: bold;
  margin: 2px;
}

.reroute-session {
  width: 250px;
  padding: 20px;
  margin-top: 10px;
  border: 1px solid $light-grey;
  text-align: center;
  background-color: white;
}

.button {
  background-color: #3897f0;
  color: white;
  border-radius: 3px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  margin: 5px;

  &:hover {
    background-color: #348adb;
  }

  &:active {
    background-color: #2d76bb;
  }
}

.demo-login-button {
  background-color: #3897f0;
  color: white;
  border-radius: 3px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  margin: 5px;
  height: 30px;
  width: 210px;

  &:hover {
    background-color: #348adb;
  }

  &:active {
    background-color: #2d76bb;
  }
}

.greeting-container {
  margin-right: 30px;
}

.session-link {
  text-decoration: none;
  margin-top: 10px;
}
