// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 @import "variables";

.user-profile-container {
  margin: 60px auto 10px auto;
  font-size: 18px;
  width: 935px;
  height: 100%;
}

.user-info-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.user-posts-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.profile-pic-container {
  display: flex;
  float: left;
  justify-content: center;
  flex-grow: 1;
}

.profile-pic {
  width: 170px;
  height: 170px;
  background-color: white;
  border-radius: 85px;
}
#profile-pic {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.user-info {
  float: right;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  flex-grow: 3;

  > div {
    margin-bottom: 20px;
  }
}

.username {
  font-size: 32px;
  display: flex;
  align-items: center;
}

.user-stats {
  display: flex;

  h3 {
    margin-right: 60px;
  }
}

.edit-button {
  margin-left: 20px;
  height: 32px;
  font-size: 14px;
  background-color: #fafafa;
  border-radius: 6px;
  cursor: pointer;

  &:active {
    color: $light-grey;
    border: 1px solid $light-grey;
    border-radius: 6px;
  }

  &:hover {
    background-color: $mid-grey;
  }
}

.logout-button {
  margin-left: 20px;
  height: 32px;
  font-size: 14px;
  color: white;
  background-color: #bcbcbc;
  border-radius: 6px;
  cursor: pointer;

  &:active {
    color: $light-grey;
    border: 1px solid $light-grey;
    background-color: #fafafa;
    border-radius: 6px;
  }

  &:hover {
    background-color: $grey;
  }
}

#follow-button {
  margin-left: 20px;
  padding-right: 10px;
  padding-left: 10px;
  height: 30px;
  font-size: 14px;
  border-radius: 6px;
  font-weight: inherit;
  font-family: inherit;
  &:focus {
    background-color: #348adb;
  }
}

// Edit form

.user-edit-form-box {
  width: 575px;
  padding: 20px;
  border: 1px solid $light-grey;
  text-align: center;
  background-color: white;
}

.edit-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 15px;
}

.edit-row {
  display: flex;
  margin-bottom: 16px;
  align-items: center;

  aside {
    width: 194px;
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: bold;
  }
  input {
    width: 318;
    padding-left: 10px;
    padding-right: 10px;
    height: 32;
  }
}

.profile-photo-upload-label {
  display: flex;
}

.small-profile-pic {
  width: 38px;
  height: 38px;
  background-color: white;
  border-radius: 19px;
  border: 1px solid $light-grey;
}

.img-preview-container {
  margin-bottom: 20px;
}

.img-preview-upload {
  width: 200px;
}

.small-profile-photo-container {
  border-radius: 19px;
}

#small-profile-pic {
  width: 60%;
  height: 60%;
  border-radius: 19px;
}

#edit-profile-button {
  width: 200px;
}

#disabled-button {
  width: 200px;
  background-color: $light-grey;
}

#not-bold {
  font-weight: normal;
}
